<div style="background-image: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
    <br>

<div class="row">

<div class="col-sm-12">
  
<div class="row">

<div class="col-sm-2">   <img class="img-fluid  " src="https://i.imgur.com/SzHrMO5b.jpg"> </div>
<div class="col-sm-2">   <img class="img-fluid"  src="https://i.imgur.com/BaqrF2I.jpg"> </div>
<div class="col-sm-2">   <img class="img-fluid"  src="https://i.imgur.com/4BV1UeVb.jpg"> </div>
<div class="col-sm-2">   <img class="img-fluid  " src="https://i.imgur.com/babdhpOb.jpg"> </div>
<div class="col-sm-2">   <img class="img-fluid"  src="https://i.imgur.com/B7uTdW8b.jpg"> </div>
<div class="col-sm-2">   <img class="img-fluid"  src="https://i.imgur.com/YYPUz6yb.jpg"> </div>


</div><br>
<div class="row">

    <div class="col-sm-2">   <img class="img-fluid  " src="https://i.imgur.com/YrvY4yXb.jpg"> </div>
    <div class="col-sm-2">   <img class="img-fluid"  src="https://i.imgur.com/o56BGAPb.jpg"> </div>
    <div class="col-sm-2">   <img class="img-fluid"  src="https://i.imgur.com/3gWDSPKb.jpg"> </div>
    <div class="col-sm-2">   <img class="img-fluid  " src="https://i.imgur.com/EuDq0esb.jpg"> </div>
    <div class="col-sm-2">   <img class="img-fluid"  src="https://i.imgur.com/jkxWYZJb.jpg"> </div>
    <div class="col-sm-2">   <img class="img-fluid"  src="https://i.imgur.com/VZVlp5kb.jpg"> </div>
    
    
    </div><br>
    <div class="row">

        <div class="col-sm-2">   <img class="img-fluid  " src="https://i.imgur.com/RXXFUPZb.jpg"> </div>
        <div class="col-sm-2">   <img class="img-fluid"  src="https://i.imgur.com/UmtrptQb.jpg"> </div>
        <div class="col-sm-2">   <img class="img-fluid"  src="https://i.imgur.com/xWVzyw9b.jpg"> </div>
        <div class="col-sm-2">   <img class="img-fluid  " src="https://i.imgur.com/SHzZHSkb.jpg"> </div>
        <div class="col-sm-2">   <img class="img-fluid"  src="https://i.imgur.com/qqMIPmHb.jpg"> </div>
        <div class="col-sm-2">   <img class="img-fluid"  src="https://i.imgur.com/pRPmETpb.jpg"> </div>
        
        
        </div>
</div>
</div>
</div>
